* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-bg: #B9B4C7;
    --cor-ft: #FAF0E6;
    --cor-pri: #352F44;
    --cor-sec: #5C5470;
}

body {
    background-color: var(--cor-bg);
    color:  var(--cor-ft);
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    background-color: var(--cor-sec);
}

.cabecalho .icones {
    position: absolute;
    right: 30px;
}

.titulo {
    text-align: center;
}

.titulo h1 {
    font-size: 48px;
}

.container {
    width: 80%;
}

.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 80%;
    margin: 0 auto;
}

.container-lista {
    background-color: var(--cor-pri);
    text-align: center;
    margin: 16px auto;
    width: 80%;
    border-radius: 12px;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-lista .lista {
    align-self: center;
}

.container-lista h3 {
    font-size: 36px;
    margin-bottom: 24px;
    text-decoration: underline;
}

ul {
    padding: 0;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
}

.lista li {
    list-style: none;
}

.lista li .card-body {
    height: auto;
}

.card-body {
    background-color: var(--cor-ft);
}

.btn {
    background-color: var(--cor-pri);
    border: none;
}

.cartao-main {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.cartao-container {
    width: 500px;
    height: 300px;
    background-color: black;
    border-radius: 16px;
    position: relative;
}

.chip {
    position: absolute;
    left: 20px;
    top: 125px;
    font-size: 50px;
}

.campo-container {
    display: flex;
    flex-direction: column;

}
.campo-container p {
    text-align: center;
}

.campo-vencimento {
    display: flex;
}